<!-- app.component.html -->

<div>
    <h1 style="text-align: center; color: green">GeeksforGeeks</h1>
    <div style="margin-left: 20px">
        <h2>About Us</h2>
        <p>
            <strong>1. Company Profile and Brand:</strong><br />
            GeeksforGeeks is a leading platform that provides 
            computer science resources and coding challenges for
            programmers and technology enthusiasts, along with 
            interview and exam preparations for upcoming aspirants.
            With a strong emphasis on enhancing coding skills and
            knowledge, it has become a trusted destination for over
            12 million plus registered users worldwide. The platform
            offers a vast collection of tutorials, practice problems,
            interview tutorials, articles, and courses,
            covering various domains of computer science.
            <br /><br />
            Our exceptional mentors hailing from top colleges &
            organizations have the ability to guide you on a 
            journey from the humble beginnings of coding to
               the pinnacle of expertise. Under their guidance watch
            your skills flourish as we lay the foundation and
            help you conquer the world of coding.
        </p>
        <p>
            <strong>2. Company Founders/Directors:</strong><br />
            Our founder Sandeep Jain is a visionary entrepreneur
            and esteemed computer science expert. Fueled by his
            unwavering passion for coding and education, laid the 
            very bedrock upon which GeeksforGeeks stands today, and his
            indomitable spirit has been instrumental in its remarkable
            growth and resounding success. As the steadfast driving
            force behind the company, Sandeep remains a beacon of 
            guidance and inspiration, propelling the team
            to constantly challenging limits and craft transformative
            learning experiences.
        </p>
    </div>
</div>